@model EmployerEmployeeHuntSystem.Web.ViewModels.JobOffers.JobOfferViewModel

<div>
    <div>
        <strong>Organization: </strong>
        <span>@Html.ActionLink(@Model.Organization, "Details", "Organizations", new { id = Model.OrganizationId, area = string.Empty }, null)</span>
    </div>
    <div>
        <strong>Minimum candidates count: </strong>
        <span>@Model.MinimumCandidatesCount</span>
    </div>
    <div>
        <strong>Current candidates count: </strong>
        <span>@Model.CandidatesCount</span>
    </div>
    <div>
        <strong>Is active: </strong>
        <span>@Model.IsActive.ToString()</span>
    </div>
    <div>
        <strong>Registered on: </strong>
        <span>@Html.ActionLink(@Model.RegistrationDate.ToShortDateString(), "Details", "JobOffers", new { id = Model.Id, area = string.Empty }, null)</span>
    </div>
    <div>
        <strong>Required skills: </strong>
        <span>@string.Join(", ", Model.RequiredSkills.Select(s => s.Name).ToList())</span>
    </div>
</div>