@{
    ViewBag.Title = "Administration";
}

<h2 class="text-center">Administration</h2>

<div class="row">
    <div class="col-md-6">
        <div class="list-group">
            <div href="#" class="list-group-item active">
                Roles
            </div>
            @Html.ActionLink("All Roles", "Index", "Roles", new { area = "Administration" }, new { @class = "list-group-item" })
            @Html.ActionLink("Add New Role", "Add", "Roles", new { area = "Administration" }, new { @class = "list-group-item" })
            @Html.ActionLink("Add Role To User", "AddRoleToUser", "Roles", new { area = "Administration" }, new { @class = "list-group-item" })
            @Html.ActionLink("Remove Role From User", "RemoveRoleFromUser", "Roles", new { area = "Administration" }, new { @class = "list-group-item" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="list-group">
            <div href="#" class="list-group-item active">
                Organizations
            </div>
            @Html.ActionLink("All Organizations", "Index", "Organizations", new { area = "Administration" }, new { @class = "list-group-item" })
            @Html.ActionLink("Deleted Organizations", "Deleted", "Organizations", new { area = "Administration" }, new { @class = "list-group-item" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="list-group">
            <div href="#" class="list-group-item active">
                Users
            </div>
            @Html.ActionLink("All Users", "Index", "Users", new { area = "Administration" }, new { @class = "list-group-item" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="list-group">
            <div href="#" class="list-group-item active">
                Skills
            </div>
            @Html.ActionLink("All Skills", "Index", "Skills", new { area = "Administration" }, new { @class = "list-group-item" })
            @Html.ActionLink("Deleted Skills", "Deleted", "Skills", new { area = "Administration" }, new { @class = "list-group-item" })
        </div>
    </div>
</div>