@model EmployerEmployeeHuntSystem.Web.ViewModels.DeveloperProfiles.DeveloperProfileViewModel
@{
    ViewBag.Title = "Developer Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <h3 class="text-center">Developer Profile</h3>
        <div class="text-center">
            @Html.ActionLink("Edit", "Edit", "Developers", null, new { @class = "btn btn-default" }) @Html.ActionLink("Add Skill", "AddSkill", "Developers", null, new { @class = "btn btn-primary" })
        </div>
    <hr />
    <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(x => x.GithubProfile, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.DisplayFor(x => x.GithubProfile, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Skills, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.DisplayFor(x => x.Skills)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.TopProjects, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @foreach (var project in Model.TopProjects)
                {
                    <div class="form-control">
                        <a href="@project.Link" target="_blank">@project.Name</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

