@model EmployerEmployeeHuntSystem.Web.Areas.Administration.ViewModels.Roles.RoleManagementViewModel
@using EmployerEmployeeHuntSystem.Constants
@{
    ViewBag.Title = "AddRoleToUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Remove Role From User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.EditorFor(x => Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Remove" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $("#input-username").autocomplete({
            source: function (req, res) {
                var filter = req.term;

                $.getJSON('@GlobalConstants.UsersApiEndpoint' + '?filter=' + filter)
                .then(function (data) {
                    res(data);
                });
            },
            minLength: 3
        });

        $("#input-role").autocomplete({
            source: function (req, res) {
                var filter = req.term;

                $.getJSON('@GlobalConstants.RolesApiEndpoint' + '?filter=' + filter)
                .then(function (data) {
                    res(data);
                });
            },
            minLength: 3
        });
    </script>
}