@model EmployerEmployeeHuntSystem.Web.ViewModels.JobOffers.JobOfferFullDetailsViewModel
@using Microsoft.AspNet.Identity;
@using EmployerEmployeeHuntSystem.Constants;

@{
    ViewBag.Title = "Details For Job Offer";
}

<div class="text-center">
    <h3>Job Offer Details</h3>
    @if (Model.Organization.Founder.Id == User.Identity.GetUserId() ||
                            User.IsInRole(GlobalConstants.HeadhunterRoleName) ||
                            User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        @Html.ActionLink("Delete", "Delete", "JobOffers", new { id = Model.JobOffer.Id }, null) @:|
        if (Model.JobOffer.IsActive == true)
        {
            @Html.ActionLink("Set As Inactive", "SetInActive", "JobOffers", new { id = Model.JobOffer.Id }, null)
        }
        else
        {
            @Html.ActionLink("Set As Active", "SetActive", "JobOffers", new { id = Model.JobOffer.Id }, null)
        }
    }
    <hr />
    @Html.DisplayFor(x => Model.JobOffer)
    <hr />
    <h5>Candidacies:</h5>

    @foreach (var candidacy in Model.Candidacies)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink(candidacy.Candidate.User.UserName, "Details", "Developers", new { id = candidacy.Candidate.User.Id }, null)
                @if (candidacy.IsApproved == false)
                {
                    @Html.ActionLink("Approve", "Approve", "Candidacies", new { id = candidacy.Id }, new { @class = "btn btn-sm btn-success" })
                }
                else
                {
                    <span class="glyphicon glyphicon-ok"></span>
                }

                @Html.ActionLink("Delete", "Delete", "Candidacies", new { id = candidacy.Id }, new { @class = "btn btn-sm btn-danger" })
            </div>
            <div class="panel-body">
                <strong>Skills: </strong>
                <span>@Html.DisplayFor(x => candidacy.Candidate.Skills)</span>
            </div>
        </div>
    }
</div>